@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
:root {
/* Primary Colors */
  --primary-1200: #0B3A23;
  --primary-1100: #0F5533;
  --primary-1000: #126F43;
  --primary-900: #188652;
  --primary-800: #19A463;
  --primary-700: #1DBF73;
  --primary-600: #3FCA89;
  --primary-500: #62D49F;
  --primary-400: #84DFB5;
  --primary-300: #A6EACA;
  --primary-200: #C9F4E0;
  --primary-100: #E8FAF4;
  /* Business Colors */
  --business-1200: #0D084D;
  --business-1100: #1E1692;
  --business-1000: #2E25AD;
  --business-900: #2E25AD;
  --business-800: #2E25AD;
  --business-700: #584AFF;
  --business-600: #584AFF;
  --business-500: #B1ABFF;
  --business-400: #B1ABFF;
  --business-300: #B1ABFF;
  --business-200: #E4E3FF;
  --business-100: #F6F6FF;
  /* Pro Colors */
  --pro-1200: #026A5D;
  --pro-1100: #027C6C;
  --pro-1000: #028D7B;
  --pro-900: #029F8B;
  --pro-800: #02B09A;
  --pro-700: #02C2A9;
  --pro-600: #28CCB7;
  --pro-500: #4DD6C5;
  --pro-400: #73E1D3;
  --pro-300: #99EBE0;
  --pro-200: #BEF5EE;
  --pro-100: #E8FFFC;
  /* Pink Colors */
  --pink-1200: #642744;
  --pink-1100: #833359;
  --pink-1000: #A23F6E;
  --pink-900: #C14A83;
  --pink-800: #E05698;
  --pink-700: #FF62AD;
  --pink-600: #FF7AB9;
  --pink-500: #FF91C6;
  --pink-400: #FFA9D2;
  --pink-300: #FFC0DE;
  --pink-200: #FFD7EB;
  --pink-100: #FFEFF7;
  /* Teal Colors */
  --teal-1200: #065A60;
  --teal-1100: #10727B;
  --teal-1000: #1B8996;
  --teal-900: #25A1B0;
  --teal-800: #30B8CB;
  --teal-700: #3AD0E6;
  --teal-600: #57D7EA;
  --teal-500: #75DFEE;
  --teal-400: #92E6F3;
  --teal-300: #AFEDF7;
  --teal-200: #CDF5FB;
  --teal-100: #ECFCFF;
  /* Lime Colors */
  --lime-1200: #254200;
  --lime-1100: #465A00;
  --lime-1000: #687200;
  --lime-900: #7D8900;
  --lime-800: #BBCE00;
  --lime-700: #D0E500;
  --lime-600: #DAEA3D;
  --lime-500: #E3EE74;
  --lime-400: #E8F094;
  --lime-300: #EDF2B3;
  --lime-200: #F1F4CB;
  --lime-100: #F8F9E5;
  /* Yellow Colors */
  --yellow-1200: #825723;
  --yellow-1100: #9B6928;
  --yellow-1000: #B47C2E;
  --yellow-900: #CD8E33;
  --yellow-800: #E6A139;
  --yellow-700: #FFB33E;
  --yellow-600: #FFBE5B;
  --yellow-500: #FFCA79;
  --yellow-400: #FFD596;
  --yellow-300: #FFE0B3;
  --yellow-200: #FFECD1;
  --yellow-100: #FFF7EE;
  /* Orange Colors */
  --orange-1200: #804317;
  --orange-1100: #99501B;
  --orange-1000: #B25D1F;
  --orange-900: #CA6923;
  --orange-800: #E37627;
  --orange-700: #FC832B;
  --orange-600: #FD964B;
  --orange-500: #FDA86A;
  --orange-400: #FEBB8A;
  --orange-300: #FECDAA;
  --orange-200: #FEDFC9;
  --orange-100: #FFF2E9;
  /* Red Colors */
  --red-1200: #782020;
  --red-1100: #912626;
  --red-1000: #AB2D2D;
  --red-900: #C43333;
  --red-800: #D93C3C;
  --red-700: #F74040;
  --red-600: #F85D5D;
  --red-500: #FA7A7A;
  --red-400: #FB9797;
  --red-300: #FCB3B3;
  --red-200: #FED0D0;
  --red-100: #FFEDED;
  /* Purple Colors */
  --purple-1200: #462072;
  --purple-1100: #56288A;
  --purple-1000: #6731A1;
  --purple-900: #7739B9;
  --purple-800: #8842D0;
  --purple-700: #984AE8;
  --purple-600: #A866EC;
  --purple-500: #B881F0;
  --purple-400: #C89DF3;
  --purple-300: #D8B9F7;
  --purple-200: #E8D4FB;
  --purple-100: #F8F0FF;
  /* Blue Colors */
  --blue-1200: #122349;
  --blue-1100: #1D3369;
  --blue-1000: #284389;
  --blue-900: #3453A8;
  --blue-800: #3F63C8;
  --blue-700: #446EE7;
  --blue-600: #6689EC;
  --blue-500: #819EF0;
  --blue-400: #9DB4F3;
  --blue-300: #B9C9F7;
  --blue-200: #D4DEFB;
  --blue-100: #F0F4FF;
  /* Grey Colors */
  --grey-1200: #222325;
  --grey-1100: #404145;
  --grey-1000: #62646A;
  --grey-900: #74767E;
  --grey-800: #95979D;
  --grey-700: #B5B6BA;
  --grey-600: #C5C6C9;
  --grey-500: #DADBDD;
  --grey-400: #E4E5E7;
  --grey-300: #EFEFF0;
  --grey-200: #F5F5F5;
  --grey-100: #FAFAFA;
  /* Token Colors & Utilities */
  --color-black: #000;
  --color-white: #fff;
  --fiverr-error: #F74040;
  --fiverr-success: #19A463;
  --fiverr-green: #1DBF73;
  --color-link: #1DBF73;
  --color-border: #EFEFF0;
  --color-background: #fff;
  --color-heading: #404145;
  --color-body: #62646A;
  /* Spacings */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-8: 32px;
  --spacing-10: 40px;
  --spacing-12: 48px;

input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #4A5568;
.professional-services-slider .swiper-pagination-bullet {
  background-color: #f59e0b;
}
input:checked ~ .block {
  background-color: #A0AEC0;
}

.banner {
  background-size: cover;
  background-position: center;
}
.fiverr-header .header-row-wrapper {
  width: 100%;
  border-bottom: 1px solid #E4E5E7; 
}
.fiverr-header .header-row-wrapper .header-row {
  display: flex;
}
.app-container {
  width: 95%;
  margin: 0 auto
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
/* Media Query compiled from @include media-query-grid(sm) */
@media only screen and (min-width: 600px) {
  .fiverr-header .header-row-wrapper .header-row {
    padding-top: 0;
    padding-bottom: 0;
      }
    } 
  }
}
